<div class="row justify-content-start col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8 mt-3">
  <div class="col-5 col-sm-5 col-md-5 col-lg-3 col-xl-3">
    <button (click)="closeTab()" type="button" class="btn btn-primary w-100 close-tab">Закрыть</button>
  </div>
  <div class="col-5 col-sm-5 col-md-5 col-lg-3 col-xl-3">
    <button (click)="deleteDocument()" type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#deleteStaffModal">
      Удалить
    </button>
  </div>
</div>
<hr class="mt-3">
<div class="row justify-content-center mx-0">
  <h2 class="mt-1 mb-4 text-center">Входящий документ</h2>
  <div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8 text-center">
    <form id="editPerson${person.id}" method="post">
      <div class="row justify-content-center mb-2">
        <div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-6">
          <div class="row mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Название документа</mat-label>
              <input type="text" name="documentName" matInput value="{{incoming.name}}">
            </mat-form-field>
          </div>
          <div class="row mb-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Регистрационный номер</mat-label>
                <input type="text" name="registrationNumber" matInput value="{{incoming.registrationNumber}}">
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Дата регистрации</mat-label>
                <input type="date" name="dateOfRegistration" matInput value="{{incoming.dateOfRegistration}}">
              </mat-form-field>
            </div>
          </div>
          <div class="row mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Автор</mat-label>
              <input type="text" name="dateOfRegistration" matInput value="{{incoming.author.lastName}} {{incoming.author.firstName}} {{incoming.author.patronymic}}">
            </mat-form-field>
          </div>
          <div class="row mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Отправитель</mat-label>
              <input type="text" name="sender" matInput value="{{incoming.sender.lastName}} {{incoming.sender.firstName}} {{incoming.sender.patronymic}}">
            </mat-form-field>
          </div>
          <div class="row mb-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Адресат</mat-label>
              <input type="text" name="addressee" matInput value="{{incoming.addressee.lastName}} {{incoming.addressee.firstName}} {{incoming.addressee.patronymic}}">
            </mat-form-field>
          </div>
          <div class="row mb-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Исходящий номер</mat-label>
                <input type="text" name="outgoingNumber" matInput value="{{incoming.outgoingNumber}}">
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Исходящая дата</mat-label>
                <input type="date" name="outgoingDateOfRegistration" matInput value="{{incoming.outgoingDateOfRegistration}}">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="deleteStaffModal" tabindex="-1" aria-labelledby="deleteStaffModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteStaffModalLabel">Подтверждение удаления</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы точно хотите удалить сотрудника?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Удалить</button>
      </div>
    </div>
  </div>
</div>


